
@manila:    #fff6bf;
@seafoam:   #bfffe1;
@sky:       #bfe7ff;
@pinkgenta: #ffbfff;



html, body, h1, h2, h3, h4, h5, h6 {
  padding         : 0;
  margin          : 0;
  border          : 0;
  font-family     : "Open Sans", sans-serif;
  scroll-behavior : smooth;
}

body   { background-color: white; padding-bottom: 3em; }
#logo  { width: 100%; margin: 3em 0; }
#tlEx  { width: 100%; }
#core  { width: 45em; margin-left: auto; margin-right: auto; }

h1     { margin-top: 1em; }

#top   { margin: 0.5em 0 0 0; }
#top a { text-decoration: none; color: #00e; }

#videotable        { border-collapse: collapse; width: 100%; }
#videotable th,
#videotable td     { margin: 0; padding: 0; border: solid transparent; border-width: 0 0.25%; }
#videotable th     { vertical-align: bottom; font-weight: normal; padding-bottom: 0.5em; font-size: 85%; }
#videotable td     { width: 24%; }
#videotable td img { width: 100%; }

#videodrop.hidden  { display: none; }
#videodrop         { margin-top: 2em; position: relative; height: 0; padding-bottom: 56.25%; } /* https://stackoverflow.com/questions/11122249/scale-iframe-css-width-100-like-an-image */
#videodrop iframe  { width: 100%; height: 25em; }